<h1 *ngIf="isEditScreen">Edit user</h1>
<h1 *ngIf="!isEditScreen">Create user</h1>
<div class="container m-5">
  <form [formGroup]="user">
    <div class="form-group">
      <label for="name" class="font-weight-bold">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <small *ngIf="name.errors.required" class="text-danger">
          Name is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="font-weight-bold">Email</label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <small *ngIf="email.errors.required" class="text-danger">
          Email is required.
        </small>
        <small *ngIf="email.errors.email" class="text-danger">
          Email is not correct.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="old" class="font-weight-bold">Old</label>
      <input type="text"
             class="form-control"
             id="old"
             formControlName="old">
      <div *ngIf="old.invalid && (old.dirty || old.touched)">
        <small *ngIf="old.errors.required" class="text-danger">
          Old is required.
        </small>
        <small *ngIf="old.errors.pattern" class="text-danger">
          Old is number.
        </small>
      </div>
    </div>
    <button [disabled]="user.invalid" *ngIf="isEditScreen" type="button" class="btn btn-primary" (click)="edit()">Update</button> &nbsp; &nbsp;
    <button [disabled]="user.invalid" *ngIf="!isEditScreen" type="button" class="btn btn-primary" (click)="create()">Create</button> &nbsp; &nbsp;
    <button type="button" class="btn btn-dark" routerLink="/">Back</button>
  </form>
</div>

